streamlit==1.40.1
scikit-learn==0.24.2   # Use a stable version compatible with PyCaret
pandas==1.3.5          # Compatible version with PyCaret 2.x
numpy==1.21.4          # Compatible version with PyCaret 2.x
scipy==1.5.4           # Explicitly specify this version to avoid build issues
pycaret==2.3.10
